* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
  background-color: #f2f2f2;
}

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  background-color: #ffffff;
}

.main-button {
  padding: 5px 20px;
  border-radius: 4px;
  background: #dbdbdb;
  margin: 0px 0px 0px 3px;
  font-size: 16px;
  line-height: 1.15;
}

.main-button__text {
  color: #2b2b2b;
  margin: 1px 0 3px 0;
  text-decoration: none;
}

.main-button:hover {
  background: #2b2b2b;
  color: #fff;
}

.price-button {
  padding: 5px 15px;
  border-radius: 4px;
  background: #dbdbdb;
  margin: 0px 0px 0px 3px;
  font-size: 16px;
  line-height: 1.15;
}

.price-button__text {
  color: #2b2b2b;
  margin: 1px 0 3px 0;
  text-decoration: none;
}

.price-button:hover {
  background: #2b2b2b;
  color: #fff;
}

.button {
  border: none;
  padding: 25px 45px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.bg-secondary {
  background: #f2f2f2;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__mobile1 {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #262626;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 9999;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #507fe1;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Proxima Nova Light', sans-serif;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  opacity: 0;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #89a9eb;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.logo__desk {
  display: block;
  font-size: 14px;
  color: #7b7b79;
}

@media (max-width: 991px) {
  .menu {
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background-color: #507fe1;
    color: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  .menu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .menu__link {
    font-size: 14px;
  }
  .navbar__mobile, .navbar__mobile1 {
    display: none;
  }
  .menu-button {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .menu {
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background-color: #507fe1;
    color: #ffffff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    opacity: 0;
  }
  .menu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
  }
  .menu-button {
    height: 60px;
    opacity: 1;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__link {
    margin-bottom: 15px;
  }
}

.hero {
  background: url("../img/hero/tyres_hotel.png") no-repeat center top 80px;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 100px;
}

.hero__title {
  font-size: 30px;
  font-family: 'Proxima Nova Light', sans-serif;
  margin-bottom: 40px;
}

.hero__subtitle {
  display: block;
  margin-bottom: 60px;
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (min-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 20%;
  }
}

.sidebar-block {
  float: left;
  width: 20%;
}

.mfilter-heading {
  -webkit-user-select: none;
  padding: 23px 0 10px;
  padding-left: 5px;
  font-size: 16px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.mfilter-options {
  padding: 3px;
}

.mfilter-options__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
  width: 100%;
}

.mfilter-options__scroll-right {
  float: left;
  width: 50%;
}

.mfilter-options__scroll-left {
  float: left;
  width: 50%;
}

.mfilter-option {
  -webkit-user-select: none;
  padding: 4px 0;
}

.mfilter-option label {
  font-size: 15px;
  padding: 0 0 0 5px;
}

.mfilter__line {
  margin: 0 auto;
  display: block;
  width: 90%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 2px 0;
}

.row {
  padding: 5% 15%;
}

.row input {
  padding: 15px 45px;
}

.top {
  padding: 11px 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  float: left;
}

.top-header {
  margin: 6px;
  padding: 0 10px 0px 0px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.top-content {
  padding: 0 7px;
  margin: 0px 3px;
  text-decoration: none;
  color: #8f8f8f8f;
  line-height: 30px;
}

.top-content__active {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 7px;
  margin: 0px 3px;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  background-color: #5e6364;
  color: #fff;
  text-decoration: none;
}

.topmenu {
  position: fixed;
  z-index: 3;
  top: 60px;
  left: 0;
  width: 70%;
  height: 150%;
  padding: 16px 0;
  background-color: black;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 1;
}

.topmenu_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.topmenu__nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topmenu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Proxima Nova Light', sans-serif;
}

.topmenu-button {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 70px;
}

.topmenu-button:hover {
  cursor: pointer;
}

.topmenu-button:focus {
  outline: none;
}

.topmenu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
}

@media (max-width: 576px) {
  .sidebar-block {
    display: none;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  .topmenu_active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  .topmenu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topmenu__link {
    margin-bottom: 15px;
  }
  .topmenu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    border: none;
    height: 50px;
    width: 70px;
  }
  .mfilter-option label {
    font-size: 14px;
  }
}

.main-block {
  width: 80%;
  float: right;
}

.main-top {
  width: 100%;
  height: 52px;
  border-bottom: 1px solid #e0e0e0;
}

.main-bottom {
  margin: 40px 13px 0px;
  width: 100%;
  height: 52px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 70px;
}

.main-bottom__content {
  margin: 0px 13px;
}

.sort {
  padding: 11px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  float: right;
}

.sort_top-header {
  margin: 6px;
  padding: 0 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.sort_top-content {
  padding: 0 12px;
  margin: 0px 0px 0px 12px;
  text-decoration: none;
  color: #8f8f8f8f;
  line-height: 30px;
}

.sort_top-content__active_top {
  border-radius: 15px;
  padding: 5px 12px;
  margin: 0px 0px 0px 12px;
  background-color: #5e6364;
  color: #fff;
  text-decoration: none;
}

.sort_top-content__active_bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 14px;
  margin: 0px 3px;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  background-color: #5e6364;
  color: #fff;
  text-decoration: none;
}

.sort-header {
  margin: 6px;
  padding: 0 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.sort-content {
  padding: 0 12px;
  margin: 0px 0px 0px 12px;
  text-decoration: none;
  color: #8f8f8f8f;
  line-height: 30px;
}

.sort-content__active_top {
  border-radius: 15px;
  padding: 5px 12px;
  margin: 0px 0px 0px 12px;
  background-color: #5e6364;
  color: #fff;
  text-decoration: none;
}

.sort-content__active_bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 14px;
  margin: 0px 3px;
  width: 34px;
  height: 34px;
  border-radius: 20px;
  background-color: #5e6364;
  color: #fff;
  text-decoration: none;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
}

.product-container {
  width: 33.3%;
  height: 480px;
  position: relative;
}

.product {
  max-height: 441px;
  z-index: 2;
  padding: 12px;
  background-color: #f2f2f2;
  -webkit-transition: none;
  transition: none;
  position: absolute;
  border-radius: 3px;
  text-align: center;
}

.product:hover .price-b {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.product-img {
  width: 96%;
  max-width: 329px;
  max-height: 329px;
}

.product-img__ice {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 999;
  margin-left: 75%;
  margin-top: 3%;
}

.product-img__sun {
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 998;
  margin-left: 75%;
  margin-top: 3%;
}

.tovar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tovar-title {
  margin-bottom: 5px;
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.tovar-title__small {
  font-size: 13px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #8f8f8f8f;
  text-decoration: none;
}

.tovar .price {
  margin-top: 5px;
  font-size: 15px;
  line-height: 15px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.tovar .currency {
  font: 12.5 currency;
  margin: 0px 0px 0px 4px;
}

.tovar .price-b {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 10px 0px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.warning-block {
  margin: 350px 40px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.warning-block__title {
  font-size: 35px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #7b7b79;
}

.warning-block__text {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 20px;
  color: #262626;
}

@media (max-width: 1199px) {
  .product-container {
    width: 33.3%;
    height: 350px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .product-container {
    width: 33.3%;
    height: 300px;
    position: relative;
  }
}

@media (max-width: 576px) {
  .main-block {
    width: 100%;
    float: right;
  }
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sort_top {
    display: none;
  }
  .product-container {
    width: 100%;
    height: 420px;
    position: relative;
  }
}

.footer {
  background-color: #222222;
  min-height: 390px;
  margin: -390px 0px;
  clear: both;
  position: relative;
  width: 100%;
}

.centered {
  width: 100%;
  padding: 0 20px;
  color: #757575;
}

.centered .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  padding: 25px 0px 0px;
  font-size: 15px;
}

.centered .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  margin: 25px 0px 0px;
  font-size: 15px;
}

.centered .second-row .title {
  letter-spacing: 1px;
  text-transform: none;
  color: #fff;
  font-size: 16px;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.twice {
  width: 50%;
}

.icons {
  margin: 10px 10px 0px 0px;
}

.ig {
  margin: 0px 2px 0px 0px;
  max-width: 36px;
  max-height: 36px;
}

.title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
}

.ya-phone-1 {
  padding: 8px 0px 0px;
  font-size: 18px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
}

.ya-phone-2 {
  padding: 2px 0px 0px;
  font-size: 18px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
}

.hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 25px 0;
}

.hr__line {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 2px 0;
}

@media (max-width: 576px) {
  .centered {
    width: 100%;
    padding: 0;
  }
  .ya-phone-1 {
    font-size: 13px;
  }
  .ya-phone-2 {
    font-size: 13px;
  }
  .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }
}

.cart {
  padding-top: 180px;
  padding-bottom: 400px;
}

.cart-block {
  padding-top: 400px;
  color: black;
}

.list-product {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.list-product thead .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px 4px 0;
}

.list-product thead td {
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding: 5px 10px 4px 0;
}

.list-product .name {
  padding: 12px 30px 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin: 0;
}

.list-product .name-title {
  margin-bottom: 5px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.list-product .name-title a {
  text-decoration: none;
  color: black;
}

.list-product .name-title__small {
  font-size: 15px;
  color: #8f8f8f8f;
}

.list-product .name-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-product .name-img {
  margin: 0px 12px 0px 0px;
  width: 158px;
  height: 158px;
}

.list-product .quantity {
  width: 18%;
}

.list-product .price {
  width: 18%;
}

.list-product .delete {
  width: 18%;
}

.list-product .delete-img {
  margin: 20%;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  padding: 10px;
}

.itog {
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-left: 78%;
}

.summa {
  font-family: 'Proxima Nova Semibold', sans-serif;
  padding-left: 35px;
}

.buy {
  padding-top: 50px;
  padding-bottom: 100px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
}

.buy-button__retry {
  text-decoration: none;
  font-size: 16px;
  text-transform: none;
  border-radius: 4px;
  border: 1px solid #b5b5b5;
  background: #f2f2f2;
  color: #000;
  cursor: pointer;
  padding: 10px 30px;
  margin: 0px 15px 0px 0px;
  line-height: 22px;
}

.buy-button__retry:hover {
  background: #b5b5b5;
  color: #fff;
}

.buy-button__buy {
  font-size: 16px;
  text-transform: none;
  border-radius: 4px;
  border: none;
  background: #ff6c00;
  color: #fff;
  cursor: pointer;
  padding: 10px 30px;
  line-height: 22px;
  text-decoration: none;
}

.buy-button__buy:hover {
  background: #b94f03;
  color: #fff;
}

.tb {
  font-family: 'Proxima Nova Semibold', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.spinCtrl {
  width: 90px;
  position: relative;
  height: 28px;
}

.spinCtrl input {
  line-height: 20px;
  padding: 3px 7px;
  text-align: center;
  max-height: 27px;
  max-width: 90px;
}

.spinCtrl button {
  position: absolute;
  font-size: 24px;
  width: 33px;
  font-weight: 300;
  line-height: 22px;
  cursor: pointer;
}

.spinCtrl .decrease {
  border: 1px solid silver;
  color: #b3b3b3;
  background: #f7f7fa;
  border-radius: 3px 0 0 3px;
}

.spinCtrl .increase {
  right: 0;
  border: 1px solid silver;
  color: #5b5b5b;
  background: #d5dadb;
  border-radius: 0 3px 3px 0;
}

@media (max-width: 576px) {
  .name-img {
    margin: 0px;
    width: 120px;
    height: 120px;
  }
  .summa {
    font-size: 16px;
    padding-left: 10px;
  }
  .itog {
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 16px;
    margin-left: 65%;
  }
  .list-product .name-title {
    margin-bottom: 5px;
    font-family: 'Proxima Nova Semibold', sans-serif;
  }
  .list-product .name-title__small {
    font-size: 12px;
    color: #8f8f8f8f;
  }
  .list-product .name-img {
    margin: 0px 12px 0px 0px;
    width: 118px;
    height: 118px;
  }
  .list-product .delete-img {
    margin: 0;
  }
  .buy-button__retry {
    font-size: 12px;
  }
  .buy-button__buy {
    font-size: 12px;
  }
}

.form-flat {
  padding-bottom: 20px;
}

.form-flat__title {
  font-size: 25px;
  padding: 20px 0 6px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.form-flat .methods {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.form-flat .methods .flat {
  border-radius: 8px;
  border: 1px solid #b5b5b5;
  margin: 0px 13px 0px 0px;
  padding: 20px 20px 30px;
  width: 50%;
  height: 171px;
}

.form-flat .methods .flat:hover {
  border-color: #ff7800;
  cursor: pointer;
}

.form-flat .methods .flat-title {
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 6px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.form-flat .methods .flat p {
  font-size: 16px;
  font-family: 'Proxima Nova Light', sans-serif;
}

.form-flat .methods .ship {
  border-radius: 8px;
  border: 1px solid #b5b5b5;
  margin: 0px 13px 0px 0px;
  padding: 20px 20px 30px;
  width: 50%;
  height: 171px;
}

.form-flat .methods .ship:hover {
  border-color: #ff7800;
  cursor: pointer;
}

.form-flat .methods .ship-title {
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 6px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.form-flat .methods .ship p {
  font-size: 16px;
  font-family: 'Proxima Nova Light', sans-serif;
}

.pad-sm {
  padding: 8px 0px;
}

.pad-sm .pad {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
  font-family: 'Proxima Nova Light', sans-serif;
}

.pad-sm .pad-name {
  padding: 8px 0px 0px;
  width: 20%;
}

.pad-sm .pad-name_app {
  text-align: center;
  padding: 8px 0px 0px;
  width: 16%;
}

.pad-sm .pad-name_housing {
  text-align: center;
  padding: 8px 0px 0px;
  width: 16%;
}

.pad-sm .form-block {
  padding: 25px 60px 25px 30px;
  font-size: 16px;
  border-radius: 15px;
  background: #edf4fa;
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
}

.pad-sm .fluid {
  width: 80%;
}

.pad-sm .fluid-last {
  width: 16%;
}

input[type=email], input[type=password], input[type=text] {
  border: 1px solid #d8d8d8;
  background: #fff;
  border-radius: 4px;
  height: 36px !important;
  padding: 8px !important;
  line-height: 20px !important;
}

.hit {
  font-size: 12px;
  color: #717171;
  font-family: 'Proxima Nova Light', sans-serif;
}

@media (max-width: 991px) {
  .pad-sm {
    padding: 8px 0px;
  }
  .pad-sm .pad {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .form-flat {
    padding-bottom: 20px;
  }
  .form-flat__title {
    font-size: 25px;
    padding: 20px 0 6px;
    font-family: 'Proxima Nova Semibold', sans-serif;
  }
  .form-flat .methods {
    margin: 10px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 700px;
  }
  .form-flat .methods .flat {
    border-radius: 8px;
    border: 1px solid #b5b5b5;
    margin: 0px 13px 0px 0px;
    padding: 20px 20px 30px;
    width: 50%;
    height: 200px;
  }
  .form-flat .methods .flat:hover {
    border-color: #ff7800;
    cursor: pointer;
  }
  .form-flat .methods .flat-title {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 6px;
    font-size: 16px;
    font-family: 'Proxima Nova Semibold', sans-serif;
  }
  .form-flat .methods .flat p {
    font-size: 12px;
    font-family: 'Proxima Nova Light', sans-serif;
  }
  .form-flat .methods .ship {
    border-radius: 8px;
    border: 1px solid #b5b5b5;
    margin: 0px 13px 0px 0px;
    padding: 20px 20px 30px;
    width: 50%;
    height: 200px;
  }
  .form-flat .methods .ship:hover {
    border-color: #ff7800;
    cursor: pointer;
  }
  .form-flat .methods .ship-title {
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 6px;
    font-size: 16px;
    font-family: 'Proxima Nova Semibold', sans-serif;
  }
  .form-flat .methods .ship p {
    font-size: 12px;
    font-family: 'Proxima Nova Light', sans-serif;
  }
}

.goods {
  display: block;
  padding-bottom: 100px;
}

.goods-block {
  min-height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  margin-bottom: 25px;
}

.goods .g-tabl {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.goods .g-tabl__name {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  color: #3f3f3f;
  margin-bottom: 10px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.goods .g-tabl__item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
}

.goods .g-tabl__ed {
  text-decoration: none;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.goods .go-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

@media (max-width: 576px) {
  .goods-block {
    min-height: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #e5e5e5;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.shin-block {
  width: 100%;
  max-width: 900px;
  margin-bottom: 80px;
}

.shin-block__title {
  font-size: 35px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-transform: uppercase;
}

.shin-block__title-small {
  font-size: 20px;
  font-family: 'Proxima Nova Light', sans-serif;
  text-transform: none;
}

.shin-block__title-other {
  color: #48A928 !important;
}

.shin-block__title ul {
  font-size: 17px;
  font-family: 'Proxima Nova Light', sans-serif;
  text-transform: none;
}

.shin-block__title-item {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 20px;
  padding: 3px;
}

.safe-block {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}

.safe-block-title {
  font-family: 'Proxima Nova Semibold', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
}

.safe-block-title_other {
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #48A928 !important;
}

.safe-block-img {
  margin: 0 auto;
  width: 70%;
}

.safe-block-items {
  text-align: left;
  padding: 5px;
}

.safe-block p {
  font-family: 'Proxima Nova Semibold', sans-serif;
  text-align: left;
}

.doship-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doship-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-between;
          flex-direction: space-between;
}

.doship-block__img {
  max-width: 500px;
  height: 350px;
}

.doship-block__title {
  font-size: 35px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.doship-block__title-small {
  margin: 0px;
  font-size: 16px;
}

.doship-block__text {
  font-size: 20px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.doship-block__text-items {
  font-size: 20px;
  padding: 5px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

.doship-block li {
  padding: 7px;
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #7b7b79;
}

.info-block {
  text-align: center;
}

.info-block__title {
  font-size: 35px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-bottom: 50px;
}

.info-block p {
  margin-bottom: 100px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #7b7b79;
}

.contacts-block__title {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold', sans-serif;
}

@media (max-width: 991px) {
  .doship-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .doship-block__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */