.footer
  background-color: #222222
  min-height: 390px
  margin: -390px 0px
  clear: both
  position: relative
  width: 100%
.centered
  width: 100%
  padding: 0 20px
  color: #757575
  .first-row
    display: flex
    flex-direction: space-between
    padding: 25px 0px 0px
    font-size: 15px
  .second-row
    display: flex
    flex-direction: space-between
    margin: 25px 0px 0px
    font-size: 15px
    .title
      letter-spacing: 1px
      text-transform: none
      color: #fff
      font-size: 16px
.first
  display: flex
  flex-direction: column
  width: 50%
.twice
  width: 50%
.icons
  margin: 10px 10px 0px 0px
.ig
  margin: 0px 2px 0px 0px
  max-width: 36px
  max-height: 36px
.title
  letter-spacing: 2px
  text-transform: uppercase
  color: #fff
  font-size: 13px
.ya-phone-1
  padding: 8px 0px 0px
  font-size: 18px
  +bold
  color: #fff
.ya-phone-2
  padding: 2px 0px 0px
  font-size: 18px
  +bold
  color: #fff
  
.hr
  box-sizing: border-box
  margin: 25px 0
  &__line 
    margin: 0 auto
    display: block
    width: 100%
    height: 1px
    background-color: #e0e0e0
    margin: 2px 0
    
@media (max-width: 576px)
  .centered
    width: 100%
    padding: 0
  .ya-phone-1
    font-size: 13px
  .ya-phone-2
    font-size: 13px
  .title
    letter-spacing: 1px
    text-transform: uppercase
    color: #fff
    font-size: 12px