.navbar
  position: fixed
  left: 0
  top: 0
  width: 100%
  background-color: #ffffff
  z-index: 9999
  &-wrap
    display: flex
    align-items: center
    justify-content: space-between
  &__mobile, &__mobile1
    text-align: right
  &__phone
    display: block
    font-size: 20px
    margin-bottom: 5px
    text-decoration: none
    +bold
    color: $text-color
  &__small-text
    display: block
    font-size: 14px
    color: $text-color-light
    text-decoration: none
    
.menu
  position: fixed
  z-index: 9999
  top: 80px
  left: 0
  width: 100%
  padding: 16px 0
  background-color: $primary
  color: #ffffff
  transition: 0.2s
  transform: translateY(0)
  opacity: 1
  &_active
    transform: translateY(0)
    opacity: 1
  &__nav
    display: flex
    align-items: center
    justify-content: space-around
  &__link
    text-decoration: none
    font-size: 17px
    text-transform: uppercase
    color: #ffffff
    +light
  &-button
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: transparent
    border: none
    border-right: 1px solid rgba(#510bba, 0.1)
    border-left: 1px solid rgba(#510bba, 0.1)
    height: 80px
    width: 70px
    opacity: 0
    &:hover
      cursor: pointer
    &:focus
      outline: none
    &__line
      display: block
      width: 20px
      height: 3px
      background-color: #89a9eb
      margin: 2px 0

.logo
  &__text
    display: block
    margin-bottom: 5px
    font-size: 20px
    text-transform: uppercase
    +bold
  &__desk
    display: block
    font-size: 14px
    color: $text-color-light
@media (max-width: 991px)
  .menu
    position: fixed
    z-index: 9999
    top: 80px
    left: 0
    width: 100%
    padding: 16px 0
    background-color: $primary
    color: #ffffff
    transition: 0.2s
    transform: translateY(-200%)
    opacity: 0
    &_active
      transform: translateY(0)
      opacity: 1
    &__link
      font-size: 14px
  .navbar
    &__mobile, &__mobile1
      display: none
  .menu
    &-button
      opacity: 1
@media (max-width: 576px)
  .menu
    position: fixed
    z-index: 9999
    top: 80px
    left: 0
    width: 100%
    padding: 16px 0
    background-color: $primary
    color: #ffffff
    transition: 0.2s
    transform: translateY(-200%)
    opacity: 0
    &_active
      transform: translateY(0)
      opacity: 1
  .logo
    display: none
  .menu
    top: 60px
    &-button
      height: 60px
      opacity: 1
    &__nav
      flex-direction: column
    &__link
      margin-bottom: 15px